html {
  background-color: rgb(55, 58, 66);
}

.main {
  margin: 10px;
  color: white;
}

.header {
  margin: 0px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.sign-in-info {
  text-align: center;
  width: 400px;
  margin: 0px;
}

.account-container {
  margin-top: 10px;
}

.signed-in-card {
  padding: 20px;
  display: flex;
  width: 200px;
}

.signed-in-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 32px;
  margin: 0px;
}
