html {
  background-color: lightgray;
}

.main {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.header {
  padding: 20px;
  color: white;
  background-color: #a9a9a9;
}

.welcome {
  margin: 0px;
  font-size: 36px;
}

.subheader {
  margin: 0px;
  font-size: 24px;
}

.footer {
  padding: 20px;
  color: black;
  background-color: #a9a9a9;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  margin: 0px;
}

.App-link {
  color: #61dafb;
}

.sign-in-info {
  text-align: center;
  width: 400px;
  margin: 0px;
}

.account-container {
  margin-top: 10px;
}
