.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.fb-signed-in {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px;
  left: 10px;
}

.fb-signed-in > * {
  display: block;
  margin: 10px;
}
